:root {
    /* colorPallet */
    --main: #FFFBFB;
    --background: #F0EEF1;
    --green: #9FFF9C;
    --font: #050505;
    --red: #FF9C9C;
    /* border shadow*/
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}



body, html {
    padding: 0;
    margin: 0;
    background-color: var(--background);
}

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    gap: 15%;
    align-items: start;
    padding: 10vh 0;
}

header {
    position: sticky;
    top: 200px;

    font-size: 1.3rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding: 6% 0.5%;
    letter-spacing: 0.16rem;

    color: var(--font);
    background-color: var(--main);

    border-radius: 0px 16px 16px 0px;
    box-shadow: var(--shadow);    
    font-weight: bolder;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);

    width: 60vw;
    padding-right: 5%;
    padding-bottom: 5%;
    gap: 5%;
}

.card{
    color: var(--font);
    background-color: var(--main);

    word-wrap: break-word;
    font-size: 1.5em;
    line-height: 90%; 
    aspect-ratio: 1;
    
    padding: 10%;
    border-radius: 0px 25px 0px 25px;
    box-shadow: var(--shadow);    
}


#addOption {
    position: fixed;
    background-color: var(--main);
    top: 80%;
    left: 90%;

    width: 5rem;
    aspect-ratio: 1;

    font-size: 3.5em;
    border-radius: 50%;
    color: var(--font);
    
    border: none;
    box-shadow: var(--shadow);

}


#addBookForm {
    position: sticky;
    top: 10vh;
    padding: 20px;
    padding-right: 0;
    background-color: var(--main);
    font-size: larger;
    border-radius: 16px 0px 0px 16px;
    box-shadow: var(--shadow);
}

.hidden {
    display: block;
    visibility: hidden;
}


input[type = "text"] {
    background-color: var(--main);
    background-color: var(--background);
    width: 80%;
    font-size: smaller;
    border-radius: 5px;
}

#addOption, button, .green, .red{
    cursor: pointer;
}

.green {
    background-color: var(--green);
    padding: 2px;
    border-radius: 10px;
}

.red {
    background-color: var(--red);
    padding: 2px;
    border-radius: 10px;
}

