:root {
    /* colorPallet */
    --main: #FFFBFB;
    --background: #F0EEF1;
    --green: #9FFF9C;
    --font: #050505;
    --red: #FF9C9C;
    /* border */
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}



body, html {
    padding: 0;
    margin: 0;
    background-color: var(--background);
}

*{
    box-sizing: border-box;
    font-family: 'Poppins', 'Roboto', sans-serif;
}

body {
    padding: 10vh 0;
    display: flex;
    gap: 15%;
    align-items: start;
}

header {
    position: sticky;
    top: 200px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding: 6% 0.5%;
    color: var(--font);
    background-color: var(--main);
    letter-spacing: 0.16rem;
    border-radius: 0px 16px 16px 0px;
    font-size: 1.3rem;
    box-shadow: var(--shadow);    
    font-weight: bolder;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 60vw;
    padding-right: 5%;
    padding-bottom: 5%;
    gap: 5%;
}

.card{
    aspect-ratio: 1;
    font-size: 2em;
    color: var(--font);
    word-wrap: break-word;
    border-radius: 0px 25px 0px 25px;
    padding: 10%;
    line-height: 90%; 
    box-shadow: var(--shadow);    
    background-color: var(--main);
}

.card > span {
    /* change bg color */
}

#addOption {
    position: fixed;
    top: 80%;
    left: 90%;
    width: 5rem;
    background-color: transparent;
    border-radius: 50%;
    aspect-ratio: 1;
    font-size: 3.5em;
    color: var(--font);
    cursor: pointer;
    border: none;
    background-color: var(--main);
    box-shadow: var(--shadow);    
}


#addBookForm {
    position: sticky;
    top: 10vh;
    background-color: var(--main);
    position: sticky;
    top: 10vh;
    box-shadow: var(--shadow);
    padding: 20px;
    padding-right: 0;
    border-radius: 16px 0px 0px 16px;
    font-size: larger;
}

.hidden {
    display: block;
    visibility: hidden;
}

.show {
    
}


input[type = "text"] {
    width: 80%;
    font-size: smaller;
    border-radius: 5px;
    background-color: var(--main);
    background-color: var(--background);
}

button {
    cursor: pointer;
}

